<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSBD.Properties.Settings.quanlysanbongConnectionString"
            connectionString="Data Source=.\SQLEXPRESS02;Initial Catalog=quanlysanbong;Persist Security Info=True;User ID=admin;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>